html,
body {
  box-sizing: border-box;
  background-color: var(--hexa-color-primitive-solid-neutral-10);
  color: var(--hexa-color-primitive-solid-neutral-100);
  font: var(--hexa-typography-body-medium);
  padding: 0;
  margin: 0;
}
